# Clean Data

***Import libraries***

In [1]:
import pandas as pd
import datetime
import ast
import warnings
import numpy as np
warnings.filterwarnings("ignore")

### CSV FILE ###

***Read data file***

In [2]:
trips_data = pd.read_csv("../data/raw/csv/combined_csv.csv", sep=",", low_memory=False)

***Delete the null rows***

In [3]:
trips_data.dropna(how="all", inplace=True)

In [4]:
trips_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4144134 entries, 0 to 4144133
Data columns (total 19 columns):
 #   Column               Dtype
---  ------               -----
 0   fecha                object
 1   idTrip               object
 2   idBike               float64
 3   fleet                float64
 4   trip_minutes         float64
 5   geolocation_unlock   object
 6   address_unlock       object
 7   unlock_date          object
 8   locktype             object
 9   unlocktype           object
 10  geolocation_lock     object
 11  address_lock         object
 12  lock_date            object
 13  station_unlock       object
 14  dock_unlock          float64
 15  unlock_station_name  object
 16  station_lock         float64
 17  dock_lock            float64
 18  lock_station_name    object
dtypes: float64(6), object(13)
memory usage: 600.7+ MB

***Modify column contents***

* Fecha

In [5]:
trips_data.rename(columns={'fecha': 'unlock_date1'}, inplace=True)

* idTrip

In [6]:
trips_data['idTrip'] = trips_data['idTrip'].fillna(trips_data['idTrip']).str.slice(stop=9)
trips_data.rename(columns={'idTrip': 'idDriver'}, inplace=True)

* IdBike

In [7]:
trips_data['idBike'] = trips_data['idBike'].astype(int)

* Fleet

In [8]:
trips_data['fleet'] = trips_data['fleet'].astype(int)

* Geolocation_unlock

In [9]:
trips_data['geolocation_unlock'] = trips_data['geolocation_unlock'].apply(ast.literal_eval)
trips_data['latitude_unlock'] = trips_data['geolocation_unlock'].apply(lambda x: x['coordinates'][1])
trips_data['longitude_unlock'] = trips_data['geolocation_unlock'].apply(lambda x: x['coordinates'][0])

In [10]:
trips_data['latitude_unlock'] = trips_data['latitude_unlock'].astype(str).str.slice(stop=8)
trips_data['longitude_unlock'] = trips_data['longitude_unlock'].astype(str).str.slice(stop=8)

In [11]:
trips_data.drop(['geolocation_unlock'], axis=1, inplace=True)

* Unlock_date

In [12]:
trips_data['unlock_date'] = trips_data['unlock_date'].str.split('T').str[-1]
trips_data.rename(columns={'unlock_date': 'unlock_hour'}, inplace=True)

In [13]:
trips_data.rename(columns={'unlock_date1': 'unlock_date'}, inplace=True)

* Geolocation_lock

In [14]:
trips_data['geolocation_lock'] = trips_data['geolocation_lock'].apply(ast.literal_eval)
trips_data['latitude_lock'] = trips_data['geolocation_lock'].apply(lambda x: x['coordinates'][1])
trips_data['longitude_lock'] = trips_data['geolocation_lock'].apply(lambda x: x['coordinates'][0])

In [15]:
trips_data['latitude_lock'] = trips_data['latitude_lock'].astype(str).str.slice(stop=8)
trips_data['longitude_lock'] = trips_data['longitude_lock'].astype(str).str.slice(stop=8)

In [16]:
trips_data.drop(['geolocation_lock'], axis=1, inplace=True)

* Lock_date

In [17]:
trips_data['lock_date'] = pd.to_datetime(trips_data['lock_date'])
trips_data['lock_date1'] = trips_data['lock_date'].dt.date
trips_data['lock_hour'] = trips_data['lock_date'].dt.time

In [18]:
trips_data.drop(['lock_date'], axis=1, inplace=True)

In [19]:
trips_data.rename(columns={'lock_date1': 'lock_date'}, inplace=True)

* Station_unlock

In [20]:
trips_data['station_unlock'] = pd.to_numeric(trips_data['station_unlock'], errors='coerce')
trips_data['station_unlock'] = trips_data['station_unlock'].fillna(0).astype(int)

* Dock_unlock

In [21]:
trips_data['dock_unlock'] = pd.to_numeric(trips_data['dock_unlock'], errors='coerce')
trips_data['dock_unlock'] = trips_data['dock_unlock'].fillna(0).astype(int)

* Station_lock

In [22]:
trips_data['station_lock'] = pd.to_numeric(trips_data['station_lock'], errors='coerce')
trips_data['station_lock'] = trips_data['station_lock'].fillna(0).astype(int)

* Dock_lock

In [23]:
trips_data['dock_lock'] = pd.to_numeric(trips_data['dock_lock'], errors='coerce')
trips_data['dock_lock'] = trips_data['dock_lock'].fillna(0).astype(int)

***Sort the columns***

In [24]:
trips_data.head().T

,0,1,2,3,4
unlock_date,2022-01-01,2022-01-01,2022-01-01,2022-01-01,2022-01-01
idDriver,489978239,06023769T,50856526F,79006741Q,76959007H
idBike,1718,7340,3861,7657,6653
fleet,1,1,1,1,1
trip_minutes,16.28,7.1,0.48,6.62,8.07
address_unlock,NaN,NaN,NaN,NaN,NaN
unlock_hour,00:02:20,00:07:53,00:09:21,00:09:52,00:09:57
locktype,STATION,STATION,STATION,STATION,STATION
unlocktype,STATION,STATION,STATION,STATION,STATION
address_lock,NaN,NaN,NaN,NaN,NaN
station_unlock,200,69,73,192,183
dock_unlock,3,5,21,22,3
unlock_station_name,Avenida de los Toreros,Antonio Maura,Puerta del ﾃ］gel Caﾃｭdo,Marquﾃｩs de Zafra,Jaime el Conquistador
station_lock,64,169,73,190,47
dock_lock,4,17,21,17,24
lock_station_name,Plaza de la Independencia,Manuel Silvela,Puerta del ﾃ］gel Caﾃｭdo,Parque Roma,Jesﾃｺs y Marﾃｭa
latitude_unlock,40.43186,40.41668,40.40980,40.426,40.39622
longitude_unlock,-3.67141,-3.68941,-3.68882,-3.66530,-3.69830
latitude_lock,40.41975,40.43095,40.40980,40.41866,40.41015
longitude_lock,-3.68839,-3.69934,-3.68882,-3.66577,-3.70250
lock_date,2022-01-01,2022-01-01,2022-01-01,2022-01-01,2022-01-01
lock_hour,00:18:37,00:14:59,00:09:50,00:16:29,00:18:01

In [25]:
trips_data = trips_data.reindex(columns=['idDriver', 'idBike', 'trip_minutes', 'fleet', 'unlock_date', 'unlock_hour', 'latitude_unlock', 'longitude_unlock', 'address_unlock', 'unlocktype', 'station_unlock', 'dock_unlock', 'unlock_station_name','lock_date', 'lock_hour', 'latitude_lock', 'longitude_lock', 'address_lock', 'locktype', 'station_lock', 'dock_lock', 'lock_station_name'])

In [26]:
trips_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4144134 entries, 0 to 4144133
Data columns (total 22 columns):
 #   Column               Dtype
---  ------               -----
 0   idDriver             object
 1   idBike               int32
 2   trip_minutes         float64
 3   fleet                int32
 4   unlock_date          object
 5   unlock_hour          object
 6   latitude_unlock      object
 7   longitude_unlock     object
 8   address_unlock       object
 9   unlocktype           object
 10  station_unlock       int32
 11  dock_unlock          int32
 12  unlock_station_name  object
 13  lock_date            object
 14  lock_hour            object
 15  latitude_lock        object
 16  longitude_lock       object
 17  address_lock         object
 18  locktype             object
 19  station_lock         int32
 20  dock_lock            int32
 21  lock_station_name    object
dtypes: float64(1), int32(6), object(15)
memory usage: 600.7+ MB

***Save the clean file***

In [27]:
trips_data.to_csv('../data/processed/clean_data_trips.csv', index=False)

### JSON FILE ###

***Read data file***

In [28]:
data_stations = pd.read_json('../data/raw/json/combined_json.json', lines=True)

***Concat the columns***

In [29]:
stations_df = pd.json_normalize(data_stations['stations'].explode())

In [30]:
replicas = 264
data_stations_rep = pd.concat([data_stations]*replicas)

In [31]:
data_stations_rep = data_stations_rep.reset_index(drop=True)

In [32]:
data_stations_final = pd.concat([data_stations_rep, stations_df], axis=1, join='outer')

***Modify the columns**

* _id

In [33]:
data_stations_final['_id'] = pd.to_datetime(data_stations_final['_id'])
data_stations_final['date_station'] = data_stations_final['_id'].dt.date
data_stations_final['hour_station'] = data_stations_final['_id'].dt.time

In [34]:
data_stations_final['_id'] = data_stations_final['_id'].astype(str)
data_stations_final['_id'] = data_stations_final['_id'].str.slice(-6)

* hour_station

In [35]:
data_stations_final['hour_station'] = data_stations_final['hour_station'].astype(str)
data_stations_final['hour_station'] = data_stations_final['hour_station'].str.slice(stop=8)

* longitude & latitude

In [36]:
data_stations_final['longitude'] = data_stations_final['longitude'].str.slice(stop=8)
data_stations_final['latitude'] = data_stations_final['latitude'].str.slice(stop=8)

***Select the neccessary columns for lock and unlock stations***

In [37]:
data_stations_final_unlock = data_stations_final[['name', 'number','date_station', 'hour_station', 'longitude', 'latitude', 'light', 'total_bases', 'free_bases', 'no_available', 'dock_bikes']]
data_stations_final_unlock.rename(columns={'date_station': 'unlock_date', 'hour_station': 'unlock_hour', 'longitude': 'longitude_unlock', 'latitude': 'latitude_unlock', 'name':  'name_unlock', 'number': 'number_unlock','light' : 'light_unlock', 'total_bases' : 'total_bases_unlock', 'free_bases' : 'free_bases_unlock', 'no_available' : 'no_available_unlock', 'dock_bikes' : 'dock_bikes_unlock'}, inplace=True)

In [38]:
data_stations_final_lock = data_stations_final[['name', 'number','date_station', 'hour_station', 'longitude', 'latitude', 'light', 'total_bases', 'free_bases', 'no_available', 'dock_bikes']]
data_stations_final_lock.rename(columns={'date_station': 'lock_date', 'hour_station': 'lock_hour', 'longitude': 'longitude_lock', 'latitude': 'latitude_lock', 'name':  'name_lock', 'number': 'number_lock', 'light' : 'light_lock', 'total_bases' : 'total_bases_lock', 'free_bases' : 'free_bases_lock', 'no_available' : 'no_available_lock', 'dock_bikes' : 'dock_bikes_lock'}, inplace=True)

***Concat the datasets***

In [39]:
data_stations_final_unlock_lock = pd.concat([data_stations_final_unlock, data_stations_final_lock], axis=1)

***Save the dataset***

In [40]:
data_stations_final_unlock_lock.to_csv('../data/processed/clean_data_stations.csv', index=False)

### Merge Data

***option 1***

In [ ]:
#trips_data_merge = pd.merge(trips_data, data_stations_final_unlock_lock, how='left', left_on=['unlock_date', 'unlock_hour', 'longitude_unlock', 'latitude_unlock', 'lock_date', 'lock_hour', 'longitude_lock', 'latitude_lock'], right_on=['unlock_date', 'unlock_hour', 'longitude_unlock', 'latitude_unlock', 'lock_date', 'lock_hour', 'longitude_lock', 'latitude_lock'])

***option R***

In [63]:
import pandas as pd

# Supongamos que 'trips_data' es tu DataFrame trips_data y 'data_stations_final_unlock_lock' es el otro DataFrame.

# Convertir la columna de fecha a tipo datetime
trips_data['unlock_date'] = pd.to_datetime(trips_data['unlock_date'])

# Realizar un merge en las columnas de coincidencia
merged_data = pd.merge(trips_data, data_stations_final_unlock_lock,
                       left_on=['unlock_date', 'unlock_hour', 'longitude_unlock', 'latitude_unlock'],
                       right_on=['unlock_date', 'unlock_hour', 'longitude_unlock', 'latitude_unlock'],
                       how='left', suffixes=('_trip', '_station'))

# Identificar las filas que no tuvieron coincidencias
no_match_mask = merged_data['name_unlock'].isnull()

# Concatenar las filas sin coincidencias al DataFrame resultante
result_data = pd.concat([merged_data[no_match_mask], merged_data[~no_match_mask].drop_duplicates()])

# Imprimir el DataFrame resultante
print(result_data.head())

    idDriver  idBike  trip_minutes  fleet unlock_date unlock_hour  \
0  489978239    1718         16.28      1  2022-01-01    00:02:20
1  06023769T    7340          7.10      1  2022-01-01    00:07:53
2  50856526F    3861          0.48      1  2022-01-01    00:09:21
3  79006741Q    7657          6.62      1  2022-01-01    00:09:52
4  76959007H    6653          8.07      1  2022-01-01    00:09:57

  latitude_unlock longitude_unlock address_unlock unlocktype  ...  \
0        40.43186         -3.67141            NaN    STATION  ...
1        40.41668         -3.68941            NaN    STATION  ...
2        40.40980         -3.68882            NaN    STATION  ...
3          40.426         -3.66530            NaN    STATION  ...
4        40.39622         -3.69830            NaN    STATION  ...

   lock_hour_station  longitude_lock_station latitude_lock_station light_lock  \
0                NaN                     NaN                   NaN        NaN
1                NaN                     NaN                   NaN        NaN
2                NaN                     NaN                   NaN        NaN
3                NaN                     NaN                   NaN        NaN
4                NaN                     NaN                   NaN        NaN

  total_bases_lock free_bases_lock no_available_lock dock_bikes_lock  \
0              NaN             NaN               NaN             NaN
1              NaN             NaN               NaN             NaN
2              NaN             NaN               NaN             NaN
3              NaN             NaN               NaN             NaN
4              NaN             NaN               NaN             NaN

  combined_datetime_station  coordinates_station
0                       NaT                  NaN
1                       NaT                  NaN
2                       NaT                  NaN
3                       NaT                  NaN
4                       NaT                  NaN

[5 rows x 44 columns]

Opcion J (Utiliza un bucle y agrega las filas al DataFrame uno por uno) 汨 Computacionalmente no parece asumible

In [59]:
# Imprimir las primeras filas del DataFrame resultante
print(trips_data_merge.head())

    idDriver  idBike  trip_minutes  fleet unlock_date unlock_hour  \
0  489978239  1718.0         16.28    1.0  2022-01-01    00:02:20
1  06023769T  7340.0          7.10    1.0  2022-01-01    00:07:53
2  50856526F  3861.0          0.48    1.0  2022-01-01    00:09:21
3  79006741Q  7657.0          6.62    1.0  2022-01-01    00:09:52
4  76959007H  6653.0          8.07    1.0  2022-01-01    00:09:57

  latitude_unlock longitude_unlock address_unlock unlocktype  ...  \
0        40.43186         -3.67141            NaN    STATION  ...
1        40.41668         -3.68941            NaN    STATION  ...
2        40.40980         -3.68882            NaN    STATION  ...
3          40.426         -3.66530            NaN    STATION  ...
4        40.39622         -3.69830            NaN    STATION  ...

   lock_hour_station  longitude_lock_station latitude_lock_station light_lock  \
0                NaN                     NaN                   NaN        NaN
1                NaN                     NaN                   NaN        NaN
2                NaN                     NaN                   NaN        NaN
3                NaN                     NaN                   NaN        NaN
4                NaN                     NaN                   NaN        NaN

  total_bases_lock free_bases_lock no_available_lock dock_bikes_lock  \
0              NaN             NaN               NaN             NaN
1              NaN             NaN               NaN             NaN
2              NaN             NaN               NaN             NaN
3              NaN             NaN               NaN             NaN
4              NaN             NaN               NaN             NaN

  combined_datetime_station  coordinates_station
0                       NaT                  NaN
1                       NaT                  NaN
2                       NaT                  NaN
3                       NaT                  NaN
4                       NaT                  NaN

[5 rows x 44 columns]

In [57]:
import pandas as pd

# Tu cﾃｳdigo para cargar los conjuntos de datos
# ...

# Realizar merge con tipo 'left'
trips_data_merge = pd.merge(trips_data, data_stations_final_unlock_lock, how='left', left_on=['unlock_date', 'unlock_hour', 'longitude_unlock', 'latitude_unlock'], right_on=['unlock_date', 'unlock_hour', 'longitude_unlock', 'latitude_unlock'])

# Imprimir las primeras filas del DataFrame resultante
print(trips_data_merge.head())

# Estadﾃｭsticas y tipos de datos
print(trips_data_merge.describe())
print(trips_data_merge.dtypes)

# Contar valores nulos por columna
print(trips_data_merge.isnull().sum())

    idDriver  idBike  trip_minutes  fleet unlock_date unlock_hour  \
0  489978239    1718         16.28      1  2022-01-01    00:02:20
1  06023769T    7340          7.10      1  2022-01-01    00:07:53
2  50856526F    3861          0.48      1  2022-01-01    00:09:21
3  79006741Q    7657          6.62      1  2022-01-01    00:09:52
4  76959007H    6653          8.07      1  2022-01-01    00:09:57

  latitude_unlock longitude_unlock address_unlock unlocktype  ...  \
0        40.43186         -3.67141            NaN    STATION  ...
1        40.41668         -3.68941            NaN    STATION  ...
2        40.40980         -3.68882            NaN    STATION  ...
3          40.426         -3.66530            NaN    STATION  ...
4        40.39622         -3.69830            NaN    STATION  ...

   lock_hour_y  longitude_lock_y latitude_lock_y light_lock total_bases_lock  \
0          NaN               NaN             NaN        NaN              NaN
1          NaN               NaN             NaN        NaN              NaN
2          NaN               NaN             NaN        NaN              NaN
3          NaN               NaN             NaN        NaN              NaN
4          NaN               NaN             NaN        NaN              NaN

  free_bases_lock no_available_lock dock_bikes_lock combined_datetime_y  \
0             NaN               NaN             NaN                 NaT
1             NaN               NaN             NaN                 NaT
2             NaN               NaN             NaN                 NaT
3             NaN               NaN             NaN                 NaT
4             NaN               NaN             NaN                 NaT

   coordinates_y
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN

[5 rows x 44 columns]
             idBike  trip_minutes         fleet  station_unlock   dock_unlock  \
count  4.144728e+06  4.144728e+06  4.144728e+06    4.144728e+06  4.144728e+06
mean   5.652756e+03  2.254580e+01  1.007975e+00    1.264049e+02  1.232355e+01
std    2.104751e+03  2.840273e+02  8.894578e-02    7.549157e+01  7.585856e+00
min    0.000000e+00 -8.677330e+03  1.000000e+00    0.000000e+00  0.000000e+00
25%    4.529000e+03  5.930000e+00  1.000000e+00    5.800000e+01  5.000000e+00
50%    6.263000e+03  1.075000e+01  1.000000e+00    1.270000e+02  1.200000e+01
75%    7.356000e+03  1.655000e+01  1.000000e+00    1.890000e+02  1.900000e+01
max    8.090000e+03  4.179560e+04  2.000000e+00    5.080000e+02  3.000000e+01

       station_lock     dock_lock  light_unlock  total_bases_unlock  \
count  4.144728e+06  4.144728e+06   1189.000000         1189.000000
mean   1.266269e+02  1.233543e+01      1.159798           23.801514
std    7.564422e+01  7.612552e+00      0.899700            2.091581
min    0.000000e+00  0.000000e+00      0.000000           12.000000
25%    5.800000e+01  5.000000e+00      0.000000           24.000000
50%    1.270000e+02  1.200000e+01      1.000000           24.000000
75%    1.900000e+02  1.900000e+01      2.000000           24.000000
max    5.080000e+02  3.000000e+01      3.000000           30.000000

       free_bases_unlock  no_available_unlock  dock_bikes_unlock   light_lock  \
count        1189.000000          1189.000000        1189.000000  1189.000000
mean           11.860387             0.014298          10.147183     1.159798
std             6.074650             0.118765           6.083402     0.899700
min             0.000000             0.000000           0.000000     0.000000
25%             7.000000             0.000000           5.000000     0.000000
50%            12.000000             0.000000          10.000000     1.000000
75%            16.000000             0.000000          15.000000     2.000000
max            26.000000             1.000000          26.000000     3.000000

       total_bases_lock  free_bases_lock  no_available_lock  dock_bikes_lock
count       1189.000000      1189.000000        1189.000000      1189.000000
mean          23.801514        11.860387           0.014298        10.147183
std            2.091581         6.074650           0.118765         6.083402
min           12.000000         0.000000           0.000000         0.000000
25%           24.000000         7.000000           0.000000         5.000000
50%           24.000000        12.000000           0.000000        10.000000
75%           24.000000        16.000000           0.000000        15.000000
max           30.000000        26.000000           1.000000        26.000000
idDriver                       object
idBike                          int32
trip_minutes                  float64
fleet                           int32
unlock_date            datetime64[ns]
unlock_hour                    object
latitude_unlock                object
longitude_unlock               object
address_unlock                 object
unlocktype                     object
station_unlock                  int32
dock_unlock                     int32
unlock_station_name            object
lock_date_x                    object
lock_hour_x                    object
latitude_lock_x                object
longitude_lock_x               object
address_lock                   object
locktype                       object
station_lock                    int32
dock_lock                       int32
lock_station_name              object
combined_datetime_x    datetime64[ns]
coordinates_x                  object
name_unlock                    object
number_unlock                  object
light_unlock                  float64
total_bases_unlock            float64
free_bases_unlock             float64
no_available_unlock           float64
dock_bikes_unlock             float64
name_lock                      object
number_lock                    object
lock_date_y                    object
lock_hour_y                    object
longitude_lock_y               object
latitude_lock_y                object
light_lock                    float64
total_bases_lock              float64
free_bases_lock               float64
no_available_lock             float64
dock_bikes_lock               float64
combined_datetime_y    datetime64[ns]
coordinates_y                  object
dtype: object
idDriver               2041424
idBike                       0
trip_minutes                 0
fleet                        0
unlock_date                  0
unlock_hour                  0
latitude_unlock              0
longitude_unlock             0
address_unlock          548565
unlocktype                   0
station_unlock               0
dock_unlock                  0
unlock_station_name      16792
lock_date_x                  0
lock_hour_x                  0
latitude_lock_x              0
longitude_lock_x             0
address_lock            547693
locktype                     0
station_lock                 0
dock_lock                    0
lock_station_name        19907
combined_datetime_x          0
coordinates_x                0
name_unlock            4143539
number_unlock          4143539
light_unlock           4143539
total_bases_unlock     4143539
free_bases_unlock      4143539
no_available_unlock    4143539
dock_bikes_unlock      4143539
name_lock              4143539
number_lock            4143539
lock_date_y            4143539
lock_hour_y            4143539
longitude_lock_y       4143539
latitude_lock_y        4143539
light_lock             4143539
total_bases_lock       4143539
free_bases_lock        4143539
no_available_lock      4143539
dock_bikes_lock        4143539
combined_datetime_y    4143539
coordinates_y          4143539
dtype: int64

In [56]:
# Convertir la columna 'combined_datetime' de ambos DataFrames a datetime
trips_data['combined_datetime'] = pd.to_datetime(trips_data['combined_datetime'])
data_stations_final_unlock_lock['combined_datetime'] = pd.to_datetime(data_stations_final_unlock_lock['combined_datetime'])

# Realizar un merge utilizando 'outer'
trips_data_merge_outer = pd.merge(trips_data, data_stations_final_unlock_lock, on=['combined_datetime', 'longitude_unlock', 'latitude_unlock'], how='outer')

# Restablecer el ﾃｭndice del DataFrame resultante
trips_data_merge_outer.reset_index(drop=True, inplace=True)

# Imprimir el DataFrame resultante
print(trips_data_merge_outer.head())

    idDriver  idBike  trip_minutes  fleet unlock_date_x unlock_hour_x  \
0  489978239  1718.0         16.28    1.0    2022-01-01      00:02:20
1  06023769T  7340.0          7.10    1.0    2022-01-01      00:07:53
2  50856526F  3861.0          0.48    1.0    2022-01-01      00:09:21
3  79006741Q  7657.0          6.62    1.0    2022-01-01      00:09:52
4  76959007H  6653.0          8.07    1.0    2022-01-01      00:09:57

  latitude_unlock longitude_unlock address_unlock unlocktype  ...  \
0        40.43186         -3.67141            NaN    STATION  ...
1        40.41668         -3.68941            NaN    STATION  ...
2        40.40980         -3.68882            NaN    STATION  ...
3          40.426         -3.66530            NaN    STATION  ...
4        40.39622         -3.69830            NaN    STATION  ...

   lock_date_y  lock_hour_y longitude_lock_y latitude_lock_y light_lock  \
0          NaN          NaN              NaN             NaN        NaN
1          NaN          NaN              NaN             NaN        NaN
2          NaN          NaN              NaN             NaN        NaN
3          NaN          NaN              NaN             NaN        NaN
4          NaN          NaN              NaN             NaN        NaN

  total_bases_lock free_bases_lock no_available_lock dock_bikes_lock  \
0              NaN             NaN               NaN             NaN
1              NaN             NaN               NaN             NaN
2              NaN             NaN               NaN             NaN
3              NaN             NaN               NaN             NaN
4              NaN             NaN               NaN             NaN

   coordinates_y
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN

[5 rows x 45 columns]

In [41]:
trips_data_merge2 = pd.DataFrame(columns=trips_data.columns)

trips_data['unlock_hour'] = pd.to_datetime(trips_data['unlock_hour'])
data_stations_final_unlock_lock['unlock_hour'] = pd.to_datetime(data_stations_final_unlock_lock['unlock_hour'])

for index, row in trips_data.iterrows():
    # Convertir la fecha de desbloqueo a datetime
    fecha_desbloqueo = pd.to_datetime(row['unlock_date'])
    
    # Filtrar las filas de 'data_stations_final_unlock_lock' que coinciden con la fecha y la hora de desbloqueo
    filtro = (data_stations_final_unlock_lock['unlock_date'] == fecha_desbloqueo) & \
             (data_stations_final_unlock_lock['unlock_hour'].dt.hour == row['unlock_hour'].dt.hour) & \
             (data_stations_final_unlock_lock['longitude_unlock'] == row['longitude_unlock']) & \
             (data_stations_final_unlock_lock['latitude_unlock'] == row['latitude_unlock'])
    
    # Agregar la fila de 'trips_data' al nuevo DataFrame
    trips_data_merge2 = trips_data_merge2.append(row)
    
    # Si existe una fila correspondiente en 'data_stations_final_unlock_lock', agregarla al nuevo DataFrame
    if not data_stations_final_unlock_lock[filtro].empty:
        trips_data_merge2 = trips_data_merge2.append(data_stations_final_unlock_lock[filtro].iloc[0])

# Imprimir el DataFrame resultante
trips_data_merge2.head()

AttributeError: 'Timestamp' object has no attribute 'dt'

In [53]:
import pandas as pd

def explore_dataframe_info(dataframe):
    # Ver las primeras filas
    print("Primeras filas del DataFrame:")
    print(dataframe.head())

    # Descripciﾃｳn estadﾃｭstica bﾃ｡sica
    print("\nDescripciﾃｳn estadﾃｭstica:")
    print(dataframe.describe())

    # Tipos de datos
    print("\nTipos de datos de las columnas:")
    print(dataframe.dtypes)

    # Contar valores nulos
    print("\nCantidad de valores nulos por columna:")
    print(dataframe.isnull().sum())

    # Explorar valores ﾃｺnicos en cada columna
    print("\nValores ﾃｺnicos en cada columna:")
    for column in dataframe.columns:
        print(f"\nColumna: {column}")
        print(dataframe[column].unique())

# Ejemplo de uso con uno de tus DataFrames
explore_dataframe_info(trips_data)

Primeras filas del DataFrame:
    idDriver  idBike  trip_minutes  fleet unlock_date unlock_hour  \
0  489978239    1718         16.28      1  2022-01-01    00:02:20
1  06023769T    7340          7.10      1  2022-01-01    00:07:53
2  50856526F    3861          0.48      1  2022-01-01    00:09:21
3  79006741Q    7657          6.62      1  2022-01-01    00:09:52
4  76959007H    6653          8.07      1  2022-01-01    00:09:57

  latitude_unlock longitude_unlock address_unlock unlocktype  ...  lock_hour  \
0        40.43186         -3.67141            NaN    STATION  ...   00:18:37
1        40.41668         -3.68941            NaN    STATION  ...   00:14:59
2        40.40980         -3.68882            NaN    STATION  ...   00:09:50
3          40.426         -3.66530            NaN    STATION  ...   00:16:29
4        40.39622         -3.69830            NaN    STATION  ...   00:18:01

   latitude_lock longitude_lock address_lock locktype station_lock dock_lock  \
0       40.41975       -3.68839          NaN  STATION           64         4
1       40.43095       -3.69934          NaN  STATION          169        17
2       40.40980       -3.68882          NaN  STATION           73        21
3       40.41866       -3.66577          NaN  STATION          190        17
4       40.41015       -3.70250          NaN  STATION           47        24

           lock_station_name   combined_datetime       coordinates
0  Plaza de la Independencia 2022-01-01 00:02:20  -3.6714140.43186
1             Manuel Silvela 2022-01-01 00:07:53  -3.6894140.41668
2     Puerta del ﾃ］gel Caﾃｭdo 2022-01-01 00:09:21  -3.6888240.40980
3                Parque Roma 2022-01-01 00:09:52    -3.6653040.426
4              Jesﾃｺs y Marﾃｭa 2022-01-01 00:09:57  -3.6983040.39622

[5 rows x 24 columns]

Descripciﾃｳn estadﾃｭstica:
             idBike  trip_minutes         fleet  station_unlock   dock_unlock  \
count  4.144134e+06  4.144134e+06  4.144134e+06    4.144134e+06  4.144134e+06
mean   5.652766e+03  2.254690e+01  1.007976e+00    1.264043e+02  1.232361e+01
std    2.104739e+03  2.840467e+02  8.894944e-02    7.549163e+01  7.585891e+00
min    0.000000e+00 -8.677330e+03  1.000000e+00    0.000000e+00  0.000000e+00
25%    4.529000e+03  5.930000e+00  1.000000e+00    5.800000e+01  5.000000e+00
50%    6.263000e+03  1.075000e+01  1.000000e+00    1.270000e+02  1.200000e+01
75%    7.356000e+03  1.655000e+01  1.000000e+00    1.890000e+02  1.900000e+01
max    8.090000e+03  4.179560e+04  2.000000e+00    5.080000e+02  3.000000e+01

       station_lock     dock_lock
count  4.144134e+06  4.144134e+06
mean   1.266263e+02  1.233547e+01
std    7.564411e+01  7.612558e+00
min    0.000000e+00  0.000000e+00
25%    5.800000e+01  5.000000e+00
50%    1.270000e+02  1.200000e+01
75%    1.900000e+02  1.900000e+01
max    5.080000e+02  3.000000e+01

Tipos de datos de las columnas:
idDriver                       object
idBike                          int32
trip_minutes                  float64
fleet                           int32
unlock_date            datetime64[ns]
unlock_hour                    object
latitude_unlock                object
longitude_unlock               object
address_unlock                 object
unlocktype                     object
station_unlock                  int32
dock_unlock                     int32
unlock_station_name            object
lock_date                      object
lock_hour                      object
latitude_lock                  object
longitude_lock                 object
address_lock                   object
locktype                       object
station_lock                    int32
dock_lock                       int32
lock_station_name              object
combined_datetime      datetime64[ns]
coordinates                    object
dtype: object

Cantidad de valores nulos por columna:
idDriver               2041145
idBike                       0
trip_minutes                 0
fleet                        0
unlock_date                  0
unlock_hour                  0
latitude_unlock              0
longitude_unlock             0
address_unlock          548474
unlocktype                   0
station_unlock               0
dock_unlock                  0
unlock_station_name      16792
lock_date                    0
lock_hour                    0
latitude_lock                0
longitude_lock               0
address_lock            547602
locktype                     0
station_lock                 0
dock_lock                    0
lock_station_name        19907
combined_datetime            0
coordinates                  0
dtype: int64

Valores ﾃｺnicos en cada columna:

Columna: idDriver
['489978239' '06023769T' '50856526F' ... 'Y7983370S' 'Y8673259L'
 'CA94961KT']

Columna: idBike
[1718 7340 3861 ... 7565 7574 7699]

Columna: trip_minutes
[1.628000e+01 7.100000e+00 4.800000e-01 ... 5.790000e+03 1.872412e+04
 7.246100e+03]

Columna: fleet
[1 2]

Columna: unlock_date
['2022-01-01T00:00:00.000000000' '2022-01-02T00:00:00.000000000'
 '2022-01-03T00:00:00.000000000' '2022-01-04T00:00:00.000000000'
 '2022-01-05T00:00:00.000000000' '2022-01-06T00:00:00.000000000'
 '2022-01-07T00:00:00.000000000' '2022-01-08T00:00:00.000000000'
 '2022-01-09T00:00:00.000000000' '2022-01-10T00:00:00.000000000'
 '2022-01-11T00:00:00.000000000' '2022-01-12T00:00:00.000000000'
 '2022-01-13T00:00:00.000000000' '2022-01-14T00:00:00.000000000'
 '2022-01-15T00:00:00.000000000' '2022-01-16T00:00:00.000000000'
 '2022-01-17T00:00:00.000000000' '2022-01-18T00:00:00.000000000'
 '2022-01-19T00:00:00.000000000' '2022-01-20T00:00:00.000000000'
 '2022-01-21T00:00:00.000000000' '2022-01-22T00:00:00.000000000'
 '2022-01-23T00:00:00.000000000' '2022-01-24T00:00:00.000000000'
 '2022-01-25T00:00:00.000000000' '2022-01-26T00:00:00.000000000'
 '2022-01-27T00:00:00.000000000' '2022-01-28T00:00:00.000000000'
 '2022-01-29T00:00:00.000000000' '2022-01-30T00:00:00.000000000'
 '2022-01-31T00:00:00.000000000' '2022-02-01T00:00:00.000000000'
 '2022-02-02T00:00:00.000000000' '2022-02-03T00:00:00.000000000'
 '2022-02-04T00:00:00.000000000' '2022-02-05T00:00:00.000000000'
 '2022-02-06T00:00:00.000000000' '2022-02-07T00:00:00.000000000'
 '2022-02-08T00:00:00.000000000' '2022-02-09T00:00:00.000000000'
 '2022-02-10T00:00:00.000000000' '2022-02-11T00:00:00.000000000'
 '2022-02-12T00:00:00.000000000' '2022-02-13T00:00:00.000000000'
 '2022-02-14T00:00:00.000000000' '2022-02-15T00:00:00.000000000'
 '2022-02-16T00:00:00.000000000' '2022-02-17T00:00:00.000000000'
 '2022-02-18T00:00:00.000000000' '2022-02-19T00:00:00.000000000'
 '2022-02-20T00:00:00.000000000' '2022-02-21T00:00:00.000000000'
 '2022-02-22T00:00:00.000000000' '2022-02-23T00:00:00.000000000'
 '2022-02-24T00:00:00.000000000' '2022-02-25T00:00:00.000000000'
 '2022-02-26T00:00:00.000000000' '2022-02-27T00:00:00.000000000'
 '2022-02-28T00:00:00.000000000' '2022-03-01T00:00:00.000000000'
 '2022-03-02T00:00:00.000000000' '2022-03-03T00:00:00.000000000'
 '2022-03-04T00:00:00.000000000' '2022-03-05T00:00:00.000000000'
 '2022-03-06T00:00:00.000000000' '2022-03-07T00:00:00.000000000'
 '2022-03-08T00:00:00.000000000' '2022-03-09T00:00:00.000000000'
 '2022-03-10T00:00:00.000000000' '2022-03-11T00:00:00.000000000'
 '2022-03-12T00:00:00.000000000' '2022-03-13T00:00:00.000000000'
 '2022-03-14T00:00:00.000000000' '2022-03-15T00:00:00.000000000'
 '2022-03-16T00:00:00.000000000' '2022-03-17T00:00:00.000000000'
 '2022-03-18T00:00:00.000000000' '2022-03-19T00:00:00.000000000'
 '2022-03-20T00:00:00.000000000' '2022-03-21T00:00:00.000000000'
 '2022-03-22T00:00:00.000000000' '2022-03-23T00:00:00.000000000'
 '2022-03-24T00:00:00.000000000' '2022-03-25T00:00:00.000000000'
 '2022-03-26T00:00:00.000000000' '2022-03-27T00:00:00.000000000'
 '2022-03-28T00:00:00.000000000' '2022-03-29T00:00:00.000000000'
 '2022-03-30T00:00:00.000000000' '2022-03-31T00:00:00.000000000'
 '2022-04-01T00:00:00.000000000' '2022-04-02T00:00:00.000000000'
 '2022-04-03T00:00:00.000000000' '2022-04-04T00:00:00.000000000'
 '2022-04-05T00:00:00.000000000' '2022-04-06T00:00:00.000000000'
 '2022-04-07T00:00:00.000000000' '2022-04-08T00:00:00.000000000'
 '2022-04-09T00:00:00.000000000' '2022-04-10T00:00:00.000000000'
 '2022-04-11T00:00:00.000000000' '2022-04-12T00:00:00.000000000'
 '2022-04-13T00:00:00.000000000' '2022-04-14T00:00:00.000000000'
 '2022-04-15T00:00:00.000000000' '2022-04-16T00:00:00.000000000'
 '2022-04-17T00:00:00.000000000' '2022-04-18T00:00:00.000000000'
 '2022-04-19T00:00:00.000000000' '2022-04-20T00:00:00.000000000'
 '2022-04-21T00:00:00.000000000' '2022-04-22T00:00:00.000000000'
 '2022-04-23T00:00:00.000000000' '2022-04-24T00:00:00.000000000'
 '2022-04-25T00:00:00.000000000' '2022-04-26T00:00:00.000000000'
 '2022-04-27T00:00:00.000000000' '2022-04-28T00:00:00.000000000'
 '2022-04-29T00:00:00.000000000' '2022-04-30T00:00:00.000000000'
 '2022-05-01T00:00:00.000000000' '2022-05-02T00:00:00.000000000'
 '2022-05-03T00:00:00.000000000' '2022-05-04T00:00:00.000000000'
 '2022-05-05T00:00:00.000000000' '2022-05-06T00:00:00.000000000'
 '2022-05-07T00:00:00.000000000' '2022-05-08T00:00:00.000000000'
 '2022-05-09T00:00:00.000000000' '2022-05-10T00:00:00.000000000'
 '2022-05-11T00:00:00.000000000' '2022-05-12T00:00:00.000000000'
 '2022-05-13T00:00:00.000000000' '2022-05-14T00:00:00.000000000'
 '2022-05-15T00:00:00.000000000' '2022-05-16T00:00:00.000000000'
 '2022-05-17T00:00:00.000000000' '2022-05-18T00:00:00.000000000'
 '2022-05-19T00:00:00.000000000' '2022-05-20T00:00:00.000000000'
 '2022-05-21T00:00:00.000000000' '2022-05-22T00:00:00.000000000'
 '2022-05-23T00:00:00.000000000' '2022-05-24T00:00:00.000000000'
 '2022-05-25T00:00:00.000000000' '2022-05-26T00:00:00.000000000'
 '2022-05-27T00:00:00.000000000' '2022-05-28T00:00:00.000000000'
 '2022-05-29T00:00:00.000000000' '2022-05-30T00:00:00.000000000'
 '2022-05-31T00:00:00.000000000' '2022-06-01T00:00:00.000000000'
 '2022-06-02T00:00:00.000000000' '2022-06-03T00:00:00.000000000'
 '2022-06-04T00:00:00.000000000' '2022-06-05T00:00:00.000000000'
 '2022-06-06T00:00:00.000000000' '2022-06-07T00:00:00.000000000'
 '2022-06-08T00:00:00.000000000' '2022-06-09T00:00:00.000000000'
 '2022-06-10T00:00:00.000000000' '2022-06-11T00:00:00.000000000'
 '2022-06-12T00:00:00.000000000' '2022-06-13T00:00:00.000000000'
 '2022-06-14T00:00:00.000000000' '2022-06-15T00:00:00.000000000'
 '2022-06-16T00:00:00.000000000' '2022-06-17T00:00:00.000000000'
 '2022-06-18T00:00:00.000000000' '2022-06-19T00:00:00.000000000'
 '2022-06-20T00:00:00.000000000' '2022-06-21T00:00:00.000000000'
 '2022-06-22T00:00:00.000000000' '2022-06-23T00:00:00.000000000'
 '2022-06-24T00:00:00.000000000' '2022-06-25T00:00:00.000000000'
 '2022-06-26T00:00:00.000000000' '2022-06-27T00:00:00.000000000'
 '2022-06-28T00:00:00.000000000' '2022-06-29T00:00:00.000000000'
 '2022-06-30T00:00:00.000000000' '2022-07-01T00:00:00.000000000'
 '2022-07-02T00:00:00.000000000' '2022-07-03T00:00:00.000000000'
 '2022-07-04T00:00:00.000000000' '2022-07-05T00:00:00.000000000'
 '2022-07-06T00:00:00.000000000' '2022-07-07T00:00:00.000000000'
 '2022-07-08T00:00:00.000000000' '2022-07-09T00:00:00.000000000'
 '2022-07-10T00:00:00.000000000' '2022-07-11T00:00:00.000000000'
 '2022-07-12T00:00:00.000000000' '2022-07-13T00:00:00.000000000'
 '2022-07-14T00:00:00.000000000' '2022-07-15T00:00:00.000000000'
 '2022-07-16T00:00:00.000000000' '2022-07-17T00:00:00.000000000'
 '2022-07-18T00:00:00.000000000' '2022-07-19T00:00:00.000000000'
 '2022-07-20T00:00:00.000000000' '2022-07-21T00:00:00.000000000'
 '2022-07-22T00:00:00.000000000' '2022-07-23T00:00:00.000000000'
 '2022-07-24T00:00:00.000000000' '2022-07-25T00:00:00.000000000'
 '2022-07-26T00:00:00.000000000' '2022-07-27T00:00:00.000000000'
 '2022-07-28T00:00:00.000000000' '2022-07-29T00:00:00.000000000'
 '2022-07-30T00:00:00.000000000' '2022-07-31T00:00:00.000000000'
 '2022-08-01T00:00:00.000000000' '2022-08-02T00:00:00.000000000'
 '2022-08-03T00:00:00.000000000' '2022-08-04T00:00:00.000000000'
 '2022-08-05T00:00:00.000000000' '2022-08-06T00:00:00.000000000'
 '2022-08-07T00:00:00.000000000' '2022-08-08T00:00:00.000000000'
 '2022-08-09T00:00:00.000000000' '2022-08-10T00:00:00.000000000'
 '2022-08-11T00:00:00.000000000' '2022-08-12T00:00:00.000000000'
 '2022-08-13T00:00:00.000000000' '2022-08-14T00:00:00.000000000'
 '2022-08-15T00:00:00.000000000' '2022-08-16T00:00:00.000000000'
 '2022-08-17T00:00:00.000000000' '2022-08-18T00:00:00.000000000'
 '2022-08-19T00:00:00.000000000' '2022-08-20T00:00:00.000000000'
 '2022-08-21T00:00:00.000000000' '2022-08-22T00:00:00.000000000'
 '2022-08-23T00:00:00.000000000' '2022-08-24T00:00:00.000000000'
 '2022-08-25T00:00:00.000000000' '2022-08-26T00:00:00.000000000'
 '2022-08-27T00:00:00.000000000' '2022-08-28T00:00:00.000000000'
 '2022-08-29T00:00:00.000000000' '2022-08-30T00:00:00.000000000'
 '2022-08-31T00:00:00.000000000' '2022-09-01T00:00:00.000000000'
 '2022-09-02T00:00:00.000000000' '2022-09-03T00:00:00.000000000'
 '2022-09-04T00:00:00.000000000' '2022-09-05T00:00:00.000000000'
 '2022-09-06T00:00:00.000000000' '2022-09-07T00:00:00.000000000'
 '2022-09-08T00:00:00.000000000' '2022-09-09T00:00:00.000000000'
 '2022-09-10T00:00:00.000000000' '2022-09-11T00:00:00.000000000'
 '2022-09-12T00:00:00.000000000' '2022-09-13T00:00:00.000000000'
 '2022-09-14T00:00:00.000000000' '2022-09-15T00:00:00.000000000'
 '2022-09-16T00:00:00.000000000' '2022-09-17T00:00:00.000000000'
 '2022-09-18T00:00:00.000000000' '2022-09-19T00:00:00.000000000'
 '2022-09-20T00:00:00.000000000' '2022-09-21T00:00:00.000000000'
 '2022-09-22T00:00:00.000000000' '2022-09-23T00:00:00.000000000'
 '2022-09-24T00:00:00.000000000' '2022-09-25T00:00:00.000000000'
 '2022-09-26T00:00:00.000000000' '2022-09-27T00:00:00.000000000'
 '2022-09-28T00:00:00.000000000' '2022-09-29T00:00:00.000000000'
 '2022-09-30T00:00:00.000000000' '2022-10-01T00:00:00.000000000'
 '2022-10-02T00:00:00.000000000' '2022-10-03T00:00:00.000000000'
 '2022-10-04T00:00:00.000000000' '2022-10-05T00:00:00.000000000'
 '2022-10-06T00:00:00.000000000' '2022-10-07T00:00:00.000000000'
 '2022-10-08T00:00:00.000000000' '2022-10-09T00:00:00.000000000'
 '2022-10-10T00:00:00.000000000' '2022-10-11T00:00:00.000000000'
 '2022-10-12T00:00:00.000000000' '2022-10-13T00:00:00.000000000'
 '2022-10-14T00:00:00.000000000' '2022-10-15T00:00:00.000000000'
 '2022-10-16T00:00:00.000000000' '2022-10-17T00:00:00.000000000'
 '2022-10-18T00:00:00.000000000' '2022-10-19T00:00:00.000000000'
 '2022-10-20T00:00:00.000000000' '2022-10-21T00:00:00.000000000'
 '2022-10-22T00:00:00.000000000' '2022-10-23T00:00:00.000000000'
 '2022-10-24T00:00:00.000000000' '2022-10-25T00:00:00.000000000'
 '2022-10-26T00:00:00.000000000' '2022-10-27T00:00:00.000000000'
 '2022-10-28T00:00:00.000000000' '2022-10-29T00:00:00.000000000'
 '2022-10-30T00:00:00.000000000' '2022-10-31T00:00:00.000000000'
 '2022-11-01T00:00:00.000000000' '2022-11-02T00:00:00.000000000'
 '2022-11-03T00:00:00.000000000' '2022-11-04T00:00:00.000000000'
 '2022-11-05T00:00:00.000000000' '2022-11-06T00:00:00.000000000'
 '2022-11-07T00:00:00.000000000' '2022-11-08T00:00:00.000000000'
 '2022-11-09T00:00:00.000000000' '2022-11-10T00:00:00.000000000'
 '2022-11-11T00:00:00.000000000' '2022-11-12T00:00:00.000000000'
 '2022-11-13T00:00:00.000000000' '2022-11-14T00:00:00.000000000'
 '2022-11-15T00:00:00.000000000' '2022-11-16T00:00:00.000000000'
 '2022-11-17T00:00:00.000000000' '2022-11-18T00:00:00.000000000'
 '2022-11-19T00:00:00.000000000' '2022-11-20T00:00:00.000000000'
 '2022-11-21T00:00:00.000000000' '2022-11-22T00:00:00.000000000'
 '2022-11-23T00:00:00.000000000' '2022-11-24T00:00:00.000000000'
 '2022-11-25T00:00:00.000000000' '2022-11-26T00:00:00.000000000'
 '2022-11-27T00:00:00.000000000' '2022-11-28T00:00:00.000000000'
 '2022-11-29T00:00:00.000000000' '2022-11-30T00:00:00.000000000'
 '2022-12-01T00:00:00.000000000' '2022-12-02T00:00:00.000000000'
 '2022-12-03T00:00:00.000000000' '2022-12-04T00:00:00.000000000'
 '2022-12-05T00:00:00.000000000' '2022-12-06T00:00:00.000000000'
 '2022-12-07T00:00:00.000000000' '2022-12-08T00:00:00.000000000'
 '2022-12-09T00:00:00.000000000' '2022-12-10T00:00:00.000000000'
 '2022-12-11T00:00:00.000000000' '2022-12-12T00:00:00.000000000'
 '2022-12-13T00:00:00.000000000' '2022-12-14T00:00:00.000000000'
 '2022-12-15T00:00:00.000000000' '2022-12-16T00:00:00.000000000'
 '2022-12-17T00:00:00.000000000' '2022-12-18T00:00:00.000000000'
 '2022-12-19T00:00:00.000000000' '2022-12-20T00:00:00.000000000'
 '2022-12-21T00:00:00.000000000' '2022-12-22T00:00:00.000000000'
 '2022-12-23T00:00:00.000000000' '2022-12-24T00:00:00.000000000'
 '2022-12-25T00:00:00.000000000' '2022-12-26T00:00:00.000000000'
 '2022-12-27T00:00:00.000000000' '2022-12-28T00:00:00.000000000'
 '2022-12-29T00:00:00.000000000' '2022-12-30T00:00:00.000000000'
 '2022-12-31T00:00:00.000000000']

Columna: unlock_hour
[datetime.time(0, 2, 20) datetime.time(0, 7, 53) datetime.time(0, 9, 21)
 ... datetime.time(4, 27, 45) datetime.time(5, 8, 56)
 datetime.time(4, 11, 12)]

Columna: latitude_unlock
['40.43186' '40.41668' '40.40980' ... '40.42687' '40.46733' '40.39632']

Columna: longitude_unlock
['-3.67141' '-3.68941' '-3.68882' ... '-3.66094' '-3.62373' '-3.68841']

Columna: address_unlock
[nan "'28009,ES,Madrid,Madrid,Calle de Samarﾃｭa 14,Madrid'"
 "'28011,ES,Madrid,Madrid,Paseo de la Venta 1,Madrid'" ...
 "'28027,ES,Madrid,Madrid,Calle de la Virgen de nuria 25,Madrid'"
 "'28033,ES,Madrid,Madrid,Calle de Arturo soria 255,Madrid'"
 "'28045,ES,Madrid,Madrid,Calle del Tejo 22C,Madrid'"]

Columna: unlocktype
['STATION' 'FREE']

Columna: station_unlock
[200  69  73 192 183  40  62 167  80 168 189  38  31  16  58 137 259 228
  51 140  43 211 202  60 216 139  92 206 218 160 224 212 197  19 242 106
 214   8  79  67 223 129 236 127  77 230  65  75 173 125 226 188  47  74
 148 243 253 103  27 157 191 229 142 221  12  85 232  87  93 184 161  39
  94 164 133 122 165 193  95 219 227  45 234 249 134 163  32 170 196  44
 149  15   9 198 180 177 262 186 102  71 239 130 114  76 169 132 126 220
  83 260 171 231  82 182  66  26  81  52  50 235 254  90  17 156  89 190
 248 175 199  49 245 185 238 172  59   0 179 187 176 237 205 105 121 264
 194  14 241  10 195 120 155 204  25 233 181 152 263 174 153  13 208  64
 158  30  53  54 144 101 151 244  78  34 131 109  46 270 166 154  86 266
 100  63  41  55   5 117 145 178  91   7  56  36  33 210   6 128  57 213
 203  97   3   4  18  88 250 207 261 147 135  42 119 162 138 136  99  96
 240 104 141 251 150 143 217 246 247 107 118 108 215  61 252 116  48  84
 209 269   1 113 201  72  11 267 110 256 222 265 268 112   2 146  35 225
 111 258 257  98 159  29  28  37 115 123 124  24  70  68 255  23  22  21
 507 505 501 506 503 504 508 502]

Columna: dock_unlock
[ 3  5 21 22  8 27 11 24  4  2 15 14 16 10 20 13  9  1 12  7 18  6 17 19
 23 25  0 26 28 29 30]

Columna: unlock_station_name
['Avenida de los Toreros' 'Antonio Maura' 'Puerta del ﾃ］gel Caﾃｭdo'
 'Marquﾃｩs de Zafra' 'Jaime el Conquistador' 'Plaza Ramales'
 'Augusto Figueroa' 'Castellana 42' 'Puerta de Mariano de Cavia'
 'Fernando el Catﾃｳlico' 'Retiro-Ibiza' 'Jacinto Benavente' 'Huertas'
 'San Vicente Ferrer' 'Barcelﾃｳ' 'Castellana 164' 'Corazﾃｳn de Marﾃｭa'
 'Plaza del Encuentro' 'Embajadores 1' 'Sor ﾃ］gela de la Cruz'
 'Plaza de la Cebada' 'San Francisco de Sales' 'Avenida de Amﾃｩrica 2'
 'Plaza del Carmen ' 'Plaza de Castilla' 'San Germﾃ｡n 57' 'Ayala'
 'Rubﾃｩn Darﾃｭo' 'Tres Cruces' 'Cea Bermﾃｺdez' 'Puerta del ﾃ］gel'
 'Cuatro Caminos 2' 'Parque Berlﾃｭn' 'Plaza de Pedro Zerolo'
 'Marquﾃｩs de Corbera 52' 'Jorge Juan' 'Metro Tetuﾃ｡n' 'Hortaleza'
 'Menﾃｩndez Pelayo' 'Ibiza' 'Gutierre de Cetina' 'Santa Marﾃｭa de la Cabeza'
 'Concordia' 'Mﾃｩndez ﾃ〕varo' 'Plaza de los Astros' 'Antonio Lﾃｳpez'
 'Narvﾃ｡ez' 'Doce de Octubre' 'Paseo de la Habana 63' 'Altamirano'
 'Camino Vinateros' 'Jesﾃｺs y Marﾃｭa' 'Puerta del Doce de Octubre'
 'Doctor Arce 45' 'Embajadores 191' 'Galileo' 'Plaza de Felipe II'
 'Palacio de Oriente' 'Santa Engracia 127' 'Doctor Esquerdo-Hermosilla'

In [54]:
def explore_dataframe_info(df):
    """
    Muestra informaciﾃｳn detallada sobre un DataFrame, incluyendo descripciones estadﾃｭsticas,
    tipos de datos, y conteo de valores nulos por columna.

    Parameters:
    - df: DataFrame de pandas

    Returns:
    - None (imprime la informaciﾃｳn directamente)
    """

    # Primeras filas del DataFrame
    print(f"Primeras filas del DataFrame:\n{df.head()}")

    # Descripciﾃｳn estadﾃｭstica
    print("\nDescripciﾃｳn estadﾃｭstica:")
    print(df.describe())

    # Tipos de datos de las columnas
    print("\nTipos de datos de las columnas:")
    print(df.dtypes)

    # Cantidad de valores nulos por columna
    print("\nCantidad de valores nulos por columna:")
    print(df.isnull().sum())

# Aplicar la funciﾃｳn al DataFrame data_stations_final_unlock_lock
explore_dataframe_info(data_stations_final_unlock_lock)

Primeras filas del DataFrame:
          name_unlock number_unlock unlock_date unlock_hour longitude_unlock  \
0    Puerta del Sol A            1a  2022-01-01    00:13:20         -3.70183
1    Puerta del Sol B            1b  2022-01-01    01:13:21         -3.70160
2         Miguel Moya             2  2022-01-01    02:13:23         -3.70584
3  Plaza Conde Suchil             3  2022-01-01    03:13:23         -3.70691
4            Malasaﾃｱa             4  2022-01-01    04:13:26         -3.70258

  latitude_unlock  light_unlock  total_bases_unlock  free_bases_unlock  \
0        40.41721             3                  30                  0
1        40.41731             3                  30                  0
2        40.42058             0                  24                 16
3        40.43029             1                  18                  1
4        40.42855             1                  24                  2

   no_available_unlock  ...  lock_hour longitude_lock latitude_lock  \
0                    1  ...   00:13:20       -3.70183      40.41721
1                    1  ...   01:13:21       -3.70160      40.41731
2                    0  ...   02:13:23       -3.70584      40.42058
3                    0  ...   03:13:23       -3.70691      40.43029
4                    0  ...   04:13:26       -3.70258      40.42855

  light_lock total_bases_lock free_bases_lock no_available_lock  \
0          3               30               0                 1
1          3               30               0                 1
2          0               24              16                 0
3          1               18               1                 0
4          1               24               2                 0

   dock_bikes_lock   combined_datetime       coordinates
0                0 2022-01-01 00:13:20  -3.7018340.41721
1                0 2022-01-01 01:13:21  -3.7016040.41731
2                7 2022-01-01 02:13:23  -3.7058440.42058
3               14 2022-01-01 03:13:23  -3.7069140.43029
4               17 2022-01-01 04:13:26  -3.7025840.42855

[5 rows x 24 columns]

Descripciﾃｳn estadﾃｭstica:
       light_unlock  total_bases_unlock  free_bases_unlock  \
count  2.306832e+06        2.306832e+06       2.306832e+06
mean   1.195122e+00        2.392045e+01       1.210873e+01
std    9.380847e-01        1.874197e+00       6.159984e+00
min    0.000000e+00        1.200000e+01       0.000000e+00
25%    0.000000e+00        2.400000e+01       8.000000e+00
50%    1.000000e+00        2.400000e+01       1.300000e+01
75%    2.000000e+00        2.400000e+01       1.700000e+01
max    3.000000e+00        3.000000e+01       3.000000e+01

       no_available_unlock  dock_bikes_unlock    light_lock  total_bases_lock  \
count         2.306832e+06       2.306832e+06  2.306832e+06      2.306832e+06
mean          3.176478e-02       9.769188e+00  1.195122e+00      2.392045e+01
std           1.753733e-01       6.012672e+00  9.380847e-01      1.874197e+00
min           0.000000e+00       0.000000e+00  0.000000e+00      1.200000e+01
25%           0.000000e+00       5.000000e+00  0.000000e+00      2.400000e+01
50%           0.000000e+00       9.000000e+00  1.000000e+00      2.400000e+01
75%           0.000000e+00       1.400000e+01  2.000000e+00      2.400000e+01
max           1.000000e+00       3.000000e+01  3.000000e+00      3.000000e+01

       free_bases_lock  no_available_lock  dock_bikes_lock
count     2.306832e+06       2.306832e+06     2.306832e+06
mean      1.210873e+01       3.176478e-02     9.769188e+00
std       6.159984e+00       1.753733e-01     6.012672e+00
min       0.000000e+00       0.000000e+00     0.000000e+00
25%       8.000000e+00       0.000000e+00     5.000000e+00
50%       1.300000e+01       0.000000e+00     9.000000e+00
75%       1.700000e+01       0.000000e+00     1.400000e+01
max       3.000000e+01       1.000000e+00     3.000000e+01

Tipos de datos de las columnas:
name_unlock                    object
number_unlock                  object
unlock_date            datetime64[ns]
unlock_hour                    object
longitude_unlock               object
latitude_unlock                object
light_unlock                    int64
total_bases_unlock              int64
free_bases_unlock               int64
no_available_unlock             int64
dock_bikes_unlock               int64
name_lock                      object
number_lock                    object
lock_date                      object
lock_hour                      object
longitude_lock                 object
latitude_lock                  object
light_lock                      int64
total_bases_lock                int64
free_bases_lock                 int64
no_available_lock               int64
dock_bikes_lock                 int64
combined_datetime      datetime64[ns]
coordinates                    object
dtype: object

Cantidad de valores nulos por columna:
name_unlock            0
number_unlock          0
unlock_date            0
unlock_hour            0
longitude_unlock       0
latitude_unlock        0
light_unlock           0
total_bases_unlock     0
free_bases_unlock      0
no_available_unlock    0
dock_bikes_unlock      0
name_lock              0
number_lock            0
lock_date              0
lock_hour              0
longitude_lock         0
latitude_lock          0
light_lock             0
total_bases_lock       0
free_bases_lock        0
no_available_lock      0
dock_bikes_lock        0
combined_datetime      0
coordinates            0
dtype: int64

In [46]:
print(trips_data['unlock_date'].dtype)
print(trips_data['unlock_hour'].dtype)
print(data_stations_final_unlock_lock['unlock_date'].dtype)
print(data_stations_final_unlock_lock['unlock_hour'].dtype)

datetime64[ns]
datetime64[ns]
object
datetime64[ns]

In [51]:
import pandas as pd

# Asegﾃｺrate de convertir las columnas de fecha y hora a tipos de datos apropiados
trips_data['unlock_date'] = pd.to_datetime(trips_data['unlock_date'])
data_stations_final_unlock_lock['unlock_date'] = pd.to_datetime(data_stations_final_unlock_lock['unlock_date'])
trips_data['unlock_hour'] = pd.to_datetime(trips_data['unlock_hour']).dt.time
data_stations_final_unlock_lock['unlock_hour'] = pd.to_datetime(data_stations_final_unlock_lock['unlock_hour']).dt.time

# Crea una nueva columna 'combined_datetime' en ambos DataFrames
trips_data['combined_datetime'] = pd.to_datetime(trips_data['unlock_date'].astype(str) + ' ' + trips_data['unlock_hour'].astype(str))
data_stations_final_unlock_lock['combined_datetime'] = pd.to_datetime(data_stations_final_unlock_lock['unlock_date'].astype(str) + ' ' + data_stations_final_unlock_lock['unlock_hour'].astype(str))

# Realiza la fusiﾃｳn de los DataFrames utilizando 'merge'
trips_data_merge2 = pd.merge(trips_data, data_stations_final_unlock_lock,
                             left_on=['combined_datetime', 'longitude_unlock', 'latitude_unlock'],
                             right_on=['combined_datetime', 'longitude_unlock', 'latitude_unlock'],
                             how='left')

# Elimina columnas temporales
trips_data_merge2 = trips_data_merge2.drop(columns=['combined_datetime'])

# Elimina duplicados si es necesario
trips_data_merge2 = trips_data_merge2.drop_duplicates()

# Imprime el DataFrame resultante
print(trips_data_merge2.head())

    idDriver  idBike  trip_minutes  fleet unlock_date_x unlock_hour_x  \
0  489978239    1718         16.28      1    2022-01-01      00:02:20
1  06023769T    7340          7.10      1    2022-01-01      00:07:53
2  50856526F    3861          0.48      1    2022-01-01      00:09:21
3  79006741Q    7657          6.62      1    2022-01-01      00:09:52
4  76959007H    6653          8.07      1    2022-01-01      00:09:57

  latitude_unlock longitude_unlock address_unlock unlocktype  ...  \
0        40.43186         -3.67141            NaN    STATION  ...
1        40.41668         -3.68941            NaN    STATION  ...
2        40.40980         -3.68882            NaN    STATION  ...
3          40.426         -3.66530            NaN    STATION  ...
4        40.39622         -3.69830            NaN    STATION  ...

   lock_date_y  lock_hour_y longitude_lock_y latitude_lock_y light_lock  \
0          NaN          NaN              NaN             NaN        NaN
1          NaN          NaN              NaN             NaN        NaN
2          NaN          NaN              NaN             NaN        NaN
3          NaN          NaN              NaN             NaN        NaN
4          NaN          NaN              NaN             NaN        NaN

  total_bases_lock free_bases_lock no_available_lock dock_bikes_lock  \
0              NaN             NaN               NaN             NaN
1              NaN             NaN               NaN             NaN
2              NaN             NaN               NaN             NaN
3              NaN             NaN               NaN             NaN
4              NaN             NaN               NaN             NaN

   coordinates_y
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN

[5 rows x 44 columns]

In [45]:
# Convertir las columnas de fecha y hora a tipo datetime en ambos DataFrames
trips_data['unlock_hour'] = pd.to_datetime(trips_data['unlock_hour'])
data_stations_final_unlock_lock['unlock_hour'] = pd.to_datetime(data_stations_final_unlock_lock['unlock_hour'])
trips_data['unlock_date'] = pd.to_datetime(trips_data['unlock_date'])

# Merge de los DataFrames utilizando 'merge'
trips_data_merge2 = pd.merge(trips_data, data_stations_final_unlock_lock,
                             left_on=['unlock_date', 'unlock_hour', 'longitude_unlock', 'latitude_unlock'],
                             right_on=['unlock_date', 'unlock_hour', 'longitude_unlock', 'latitude_unlock'],
                             how='left')

# Eliminar duplicados si es necesario
trips_data_merge2 = trips_data_merge2.drop_duplicates()

# Imprimir el DataFrame resultante
print(trips_data_merge2.head())

ValueError: You are trying to merge on datetime64[ns] and object columns. If you wish to proceed you should use pd.concat

In [43]:
import pandas as pd

# Convertir las columnas de fecha y hora a tipo datetime
trips_data['unlock_hour'] = pd.to_datetime(trips_data['unlock_hour'])
data_stations_final_unlock_lock['unlock_hour'] = pd.to_datetime(data_stations_final_unlock_lock['unlock_hour'])
trips_data['unlock_date'] = pd.to_datetime(trips_data['unlock_date'])

# Crear un DataFrame vacﾃｭo sin especificar columnas
trips_data_merge2 = pd.DataFrame()

for index, row in trips_data.iterrows():
    # Convertir la fecha de desbloqueo a datetime
    fecha_desbloqueo = pd.to_datetime(row['unlock_date'])
    
    # Filtrar las filas de 'data_stations_final_unlock_lock' que coinciden con la fecha y la hora de desbloqueo
    filtro = (data_stations_final_unlock_lock['unlock_date'] == fecha_desbloqueo) & \
             (data_stations_final_unlock_lock['unlock_hour'].dt.hour == row['unlock_hour'].hour) & \
             (data_stations_final_unlock_lock['longitude_unlock'] == row['longitude_unlock']) & \
             (data_stations_final_unlock_lock['latitude_unlock'] == row['latitude_unlock'])
    
    # Agregar la fila de 'trips_data' al nuevo DataFrame
    trips_data_merge2 = trips_data_merge2.append(row)
    
    # Si existe una fila correspondiente en 'data_stations_final_unlock_lock', agregarla al nuevo DataFrame
    if not data_stations_final_unlock_lock[filtro].empty:
        trips_data_merge2 = trips_data_merge2.append(data_stations_final_unlock_lock[filtro].iloc[0])

# Eliminar duplicados si es necesario
trips_data_merge2 = trips_data_merge2.drop_duplicates()

# Imprimir el DataFrame resultante
print(trips_data_merge2.head())

KeyboardInterrupt:

In [ ]:
trips_data['lock_hour'] = pd.to_datetime(trips_data['lock_hour'])
data_stations_final_unlock_lock['lock_hour'] = pd.to_datetime(data_stations_final_unlock_lock['lock_hour'])

for index, row in trips_data.iterrows():
    # Convertir la fecha de desbloqueo a datetime
    fecha_desbloqueo_l = pd.to_datetime(row['lock_date'])
    
    # Filtrar las filas de 'data_stations_final_unlock_lock' que coinciden con la fecha y la hora de desbloqueo
    filtro = (data_stations_final_unlock_lock['lock_date'] == fecha_desbloqueo_l) & \
             (data_stations_final_unlock_lock['lock_hour'].dt.hour == row['lock_hour'].dt.hour) & \
             (data_stations_final_unlock_lock['longitude_lock'] == row['longitude_lock']) & \
             (data_stations_final_unlock_lock['latitude_lock'] == row['latitude_lock'])
    
    # Agregar la fila de 'trips_data' al nuevo DataFrame
    trips_data_merge2 = trips_data_merge2.append(row)
    
    # Si existe una fila correspondiente en 'data_stations_final_unlock_lock', agregarla al nuevo DataFrame
    if not data_stations_final_unlock_lock[filtro].empty:
        trips_data_merge2 = trips_data_merge2.append(data_stations_final_unlock_lock[filtro].iloc[0])

# Imprimir el DataFrame resultante
trips_data_merge2.head()

***Save the clean data***

In [ ]:
# trips_data_merge.to_csv('../data/processed/clean_data_trips_stations.csv', index=False)